@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,wght@0,300;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair", serif;
}

body {
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar-container {
  width: 100%;
  background-color: black;
}

.upper-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: white;
}

.upper-navbar span {
  background-color: rgba(225, 0, 0, 0.8);
  color: #fff;
  padding: 0 10px;
  border-radius: 7vh;
}

.upper-navbar h2 {
  font-size: 13px;
  margin-left: 10px;
  flex-grow: 1;
  text-align: center;
}

.social-icons {
  display: flex;
  gap: 10px;
  border: none;
}

.social-icons a {
  color: #fff;
  font-size: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 20px 0;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links li {
  position: relative;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  padding: 8px 12px;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.dropdown {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown li a {
  padding: 10px;
  display: block;
  color: black;
}

.nav-links li:hover .dropdown {
  display: block;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: black;
}

nav i {
  color: black;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: white;
    padding: 10px 0;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .upper-navbar {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}
